body {
    background-color: #242424;
    padding: 10px;
    border-radius: 12px;
}

h1 {
    color: orange;
    font-weight: ultrabold;
    font-size: larger;
    margin-left: 5px;
}

p {
    color: whitesmoke;
}

newbutton {
    margin-bottom: -12px;
    margin-top: 8px;
    margin-left: 5px;
    
    padding: 5px;
    color: antiquewhite;
    background-color: #694400;
    border-style: outset;
    border-width: 2px;
    border-color: #343434;
}

foximg {
    border-radius: 25px;
    border-style: double;
    border-color: #694400;
    border-width: 5px;
}

imgtype {   
    padding: 5px;
}
